@{
    ViewData["Title"] = "About Martian University";
}
<br />


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <h1 class="text-center">@ViewData["Title"]</h1>
                        <p class="text-center">
                            
            <p class="text-center">
                At Martian University, we're not just out of this world; we're ahead of it. Our mission is to provide an unparalleled educational experience that transcends earthly boundaries. Here's what sets us apart:

                Leaders in Extraterrestrial Education: We've redefined education with a curriculum that's truly intergalactic. Our professors are experts in their respective fields, both on and off-planet.

                Campus Like No Other: Our stunning Martian campus offers a unique blend of red landscapes and cutting-edge technology. Your education won't just be on Mars; it'll be of Mars.

                Inspiring Innovation: Our students aren't just learners; they're the visionaries of tomorrow. We encourage groundbreaking ideas and research that have the potential to change the course of history, even on Earth.

                Interstellar Community: Our diverse student body represents different corners of the cosmos. With us, you'll find a welcoming and inclusive environment where knowledge knows no boundaries.

                Fueling Curiosity: From astrophysics to xenoarchaeology, we offer a range of programs that will ignite your passion and expand your horizons, quite literally.

                Beyond Mars: We're not stopping at Mars. Our vision reaches far beyond the red planet, with plans to extend our educational reach to other celestial bodies in the future.

                At Martian University, we're preparing students to thrive not just on Earth but wherever the universe takes them. Join us on this cosmic journey and be part of something truly out of this world.

            </p>
            <br />
            
                        </p>
                        <br />
                        <p class="text-center">This application is under development. Please be patient...</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>




.card {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 20px;
        background-color: rgba(133, 149, 107, 0.7); 
        border-radius: 25px;
}
</style>